---
import Layout from '../layouts/Layout.astro';
import DividerGrid from '../components/DividerGrid.astro';
const guides = await Astro.glob('./*.md');
---
<Layout title="Firebase Fundamentals">
	<main class="content-subgrid">
		<div class="title-group">
			<h2>Firebase <span class="highlight">Fundamentals</span></h2>

			<div class="bio">

				<div class="bio-image">
					<img src="/de-profile.png" alt="David East" />
				</div>

				<div class="bio-details">
					<div class="bio-details-name">David East</div>
					<div class="bio-details-role">
						Developer Relations Engineer, <span class="highlight">Firebase</span>
					</div>
				</div>

			</div>

		</div>
		<p class="pull-text subtitle">
			A <span class="highlight">companion guide</span> to the Frontend Masters workshop.
		</p>
	</main>
	<DividerGrid />
	<section class="list-grid">
		<h3>Workshop Sections</h3>
		<ol>
			{guides.map(g => <li>
					<a href={g.url}>{g.frontmatter.title}</a>
					<div set:html={g.frontmatter.subtitle}></div>
				</li>
			)}
			<!-- <li>
				<a href="#">Security Rules</a>
				<div>The syntax, common patterns, and role based access control.</div>
			</li>
			<li>
				<a href="#">Cloud Functions</a>
				<div>Triggers, denormalization, and server-side hosting.</div>
			</li> -->
		</ol>
	</section>
</Layout>

<style>
	.subtitle {
		grid-column: full;
		margin-block-start: var(--space-md);
	}

	.content-subgrid {
		margin-block-start: var(--space-3xl);
		gap: var(--space-xl);
	}

	.title-group {
		display: grid;
		gap: var(--space-xl);
	}

	.bio {
		display: flex;
		align-items: center;
		gap: var(--space-sm);
	}

	.bio-image img {
		width: 88px;
	}

	.bio-details {
		font-family: var(--font-mono);
		display: grid;
		gap: var(--space-xs);
	}
	.bio-details-name {
		font-weight: bold;
		font-size: var(--text-lg);
	}

	.list-grid {
		display: grid;
		grid-column: 1 / -1;
		gap: var(--space-xl);
		margin-block-end: var(--space-3xl);
	}

	.list-grid ol {
		display: grid;
		gap: var(--space-lg);
		counter-reset: item;
	}
	.list-grid ol li:before {
		content: counter(item) " |";
  	counter-increment: item;
		color: var(--orange-5);
		padding-inline-end: var(--space-xxs);
	}
	.list-grid ol li a {
		font-size: var(--text-sub);
		color: var(--off-white);
	}
	.list-grid ol li a:hover {
		color: var(--orange-5);
	}
	.list-grid ol li div {
		color: var(--gray-5);
		margin-block-start: var(--space-xxs);
		padding-inline-start: 28px;
		line-height: 1.25;
	}
</style>
