<section class="divider-grid">
	<div class="divider"></div>
</section>

<style>
	.divider-grid {
		display: grid;
		margin-block: var(--space-3xl);
		grid-column: full;
	}

	.divider-grid .divider {
		height: 2px;
		background-color: var(--orange-5);
		border-radius: 1px;
		width: 100%;
	}
</style>