<nav>
  <ul>
    <li>
      <a href="/">Home</a>
    </li>
    <li>
      <a href="/1-intro">Intro</a>
    </li>
    <li>
      <a href="/2-setup">Setup</a>
    </li>
    <li>
      <a href="/3-cloud-firestore">Firestore</a>
    </li>
    <li>
      <a href="/4-firebase-auth">Auth</a>
    </li>
    <li>
      <a href="/5-security">Security</a>
    </li>
    <li>
      <a href="/6-cloud-functions">Functions</a>
    </li>
  </ul>
</nav>

<style>
nav {
  margin-block: var(--space-lg);
}
nav ul {
  display: flex;
  gap: var(--space-md);
  justify-content: flex-end;
}
</style>
